[nginx-${NGINX_REPO_STREAM}]
name=nginx ${NGINX_REPO_STREAM} repo
baseurl=http://nginx.org/packages/${NGINX_REPO_STREAM}/rhel/$releasever/$basearch/
gpgcheck=1
enabled=1
gpgkey=https://nginx.org/keys/nginx_signing.key
module_hotfixes=true
