Defaults:portal-app !requiretty
portal-app ALL=(root) NOPASSWD: /opt/portal-app/bin/apply-branding.sh
portal-app ALL=(root) NOPASSWD: /opt/portal-app/bin/apply-tls.sh manual
portal-app ALL=(root) NOPASSWD: /opt/portal-app/bin/apply-tls.sh certbot
portal-app ALL=(root) NOPASSWD: /opt/portal-app/bin/apply-tls.sh selfsigned
portal-app ALL=(root) NOPASSWD: /opt/portal-app/bin/apply-network-access.sh
portal-app ALL=(root) NOPASSWD: /opt/portal-app/bin/apply-system-update.sh security
portal-app ALL=(root) NOPASSWD: /opt/portal-app/bin/apply-system-update.sh all
